
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Montserrat:wght@500&family=Neonderthaw&family=Red+Hat+Mono:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 88, 192) 50%, rgb(255, 204, 112) 100%);
  font-family: 'Red Hat Mono', monospace;
  font-weight: bold;
}

.add-expense{
  width: 600px;
  height: auto;
  background-color: cornflowerblue;
  border: 1px cornflowerblue solid;
  border-radius: 6px;
  margin-left: 30%;
  margin-top: 100px;
  
}

.add-new{
  margin-left: 200px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
input {
  width: 400px;
}
.name-item{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}
.amount-item{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}
.date-item{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}
input{
  border-radius: 6px;
  border: none;
}
button{
  display: flex;
  margin-bottom: 10px ;
  border-radius: 6px;
  padding: 10px;
  border: none;
  width: 100px;
  justify-content: center;
  background-color: burlywood;
  cursor: pointer;
  margin-right: 10px;
}
.btn{
  display: flex;
  flex-direction: row-reverse;
  
}
.list-expense{
  width: 600px;
  height: auto;
  margin-left: 30%;
  background-color: bisque;
  margin-top: 30px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 6px;
  margin: 20px;
  width: 560px;
  background-color: cadetblue;
}

.time{
  margin: 10px;
  border: 2px solid blueviolet;
  padding: 2px;
  border-radius: 6px;
}
.price{
  width: auto;
  height: auto;
  background-color:  rgb(200, 88, 192);
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
}
.filter{
  width: 600px;
  margin-left: 30%;
  background-color: bisque;
  margin-top: 30px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.year{
  margin-right: 20px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  padding-left: 30px;
}
.delete{
  margin-top: 10px;
}
.title{
  width: 200px;
}
.price{
  width: 80px;
  display: flex;
  justify-content: center;
}
